/*

!/.Xresources.d

!/.config
/.config/*
!.config/alacritty
!.config/dunst
!.config/git
.config/gtk-3.0/bookmarks
!.config/i3
!.config/kitty
!.config/picom
!.config/polybar
!.config/rofi
!.config/nvim

!/.fonts
/.fonts/*
!/.fonts/update-fonts.sh
!/.fonts/urls

!/.gnupg
/.gnupg/*
!/.gnupg/gpg-agent.conf
!/.gnupg/gpg.conf

!/.shrc.d

!/.ssh
/.ssh/*
!/.ssh/config
!/.ssh/genkey.sh

!/.vim
/.vim/*
!/.vim/after
!/.vim/colors
!/.vim/indent
!/.vim/spell
/.vim/spell/*.spl

!/Admin
/Admin/*
!Admin/xrandr_external_monitor.sh
!Admin/xrandr_external_laptop.sh
!Admin/etc

!.Xresources
!.gitignore
!.gtkrc-2.0
!.tmux.conf
!.vimrc
!.xinitrc
!.xprofile
!.zprofile
!.zshrc
!.README.md
